* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: start;
  height: 70px;
  background-color: #9dbddc;
  align-items: center;
  font-size: 30px;
}

.header-logo {
  width: 220px;
  padding-left: 20px;
}
